@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

:root {
  --clr-white: #fff;
  --clr-black: #000;
  --clr-red: #dc281e;
  --clr-blue: #c0d7fb;
  --clr-btn: #65d6d1;
  --ff-primary: "Open Sans", sans-serif;
  --radius: 0.5rem;
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --line-height: 1.5;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  background: var(--clr-blue);
  color: var(--clr-black);
  line-height: var(--line-height);
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-row-100 {
  width: 100%;
}

.space-between {
  justify-content: space-between;
}

.v-centered {
  align-items: center;
}

.flex-col {
  width: 50%;
}

.input-container {
  margin-bottom: 2rem;
}

.container {
  padding: 1.5rem;
}

.centered {
  width: 70%;
  margin: auto;
}

.text-center {
  text-align: center;
}

h1 {
  color: var(--clr-black);
}
@media (min-width: 576px) {
  .app-container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .app-container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .app-container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .app-container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .app-container {
    max-width: 89%;
  }
}
